{% for block in entry.articleBody %}
    {% if block.type == "text" %}

        {{ block.text }}

    {% elseif block.type == "gallery" %}
        <!-- Галерея -->
        <div class="row galleries galleries-items" itemscope>
            {% for photos in block.gallery %}
                <figure class="col-xs-4 gallery" itemprop="associatedMedia" itemscope>
                    <a href="{{ photos.getUrl('full') }}" itemprop="contentUrl" data-size="{{ photos.width }}x{{ photos.height }}">
                        <div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ photos.getUrl('thumb') }});"></div>
                    </a>
                </figure>
            {% endfor %}
        </div>

    {% elseif block.type == "image" %}
        <img src="{{ block.image.first().getUrl('full') }}" class="article__image">
    {% endif %}

{% endfor %}
