<div class="countdown__title">До старта <b>северного марафона</b></div>
<div class="row">
    <div class="col-xs-3">
        <div class="countdown__date-title">Дней</div>
        <div class="countdown__date countdown__date-day">0</div>
    </div>
    <div class="col-xs-9">
        <div class="countdown__date-title">Часов</div>
        <div class="countdown__date">
            <span class="countdown__date-hours">00</span>:<span class="countdown__date-minutes">00</span>:<span class="countdown__date-seconds">00</span>
        </div>
    </div>
</div>
