{% extends "layouts/main" %}

{% set title = entry.title %}
{% set crumbs = [
    {
        title: title,
        url: url(entry.url)
    }
] %}

{% block main %}
    <iframe name="forum" src="{{ url('/nmforum') }}" class="forum" scrolling="no" id="forum" onload="FrameManager.registerFrame(this)"></iframe>
    <script type="text/javascript">
        // Синхронизация высоты страницы с iframe
        var FrameManager =
        {
            registerFrame : function(frame)
            {
                pm({
                  target: window.frames[frame.id],
                  type:   "register",
                  data:   {id:frame.id},
                  url: frame.contentWindow.location
                });

                pm.bind(frame.id, function(data) {
                    var iframe = document.getElementById(data.id);
                    if (iframe == null) return;
                    iframe.style.height = (data.height+50).toString() + "px";
                });
            }
        };
    </script>
{% endblock %}
