.container
{
    width: 1170px !important;
}
img
{
    max-width: 100%;
}
a
{
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

    &:hover
    {
        color: $color-blue;
    }
}
body
{
    min-width: 1200px;
    position: relative;
}
