{% extends 'layouts/main' %}

{% set title = entry.title %}
{% set crumbs = [
    {
        title: title,
        url: url(entry.url)
    }
] %}

{% block mainContent %}
    <div class="article">
        <div class="article__content">
            {% include '_includes/articleBody' %}
        </div>
    </div>
{% endblock %}
