{% extends "layouts/site" %}

{% set title = entry.title %}

{% set crumbs = [
    {
        title: entry.section.name,
        url: url(entry.section.handle)
    },
    {
        title: title,
        url: entry.url
    },
] %}

{% block main %}
    <!-- Галерея -->
    <div class="row galleries galleries-items" itemscope>
        {% for photos in entry.photos %}
            <figure class="col-xs-3 gallery" itemprop="associatedMedia" itemscope>
                <a href="{{ photos.getUrl('full') }}" itemprop="contentUrl" data-size="{{ photos.width }}x{{ photos.height }}">
                    <div src="{{ photos.getUrl('small') }}" class="gallery__image" itemprop="thumbnail" style="background-image: url({{ photos.getUrl('small') }});"></div>
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
