{% extends "layouts/site" %}

{% set gallery = craft.entries.section("gallery") %}
{% set title = "Галерея" %}
{% set crumbs = [
    {
        title: title,
        url: gallery.section
    }
] %}

{% block main %}
    <div class="row galleries">
        {% for galleryEntries in gallery %}
            <div class="col-xs-3 gallery">
                <a href="{{ galleryEntries.url }}">
                    <div class="gallery__image" style="background-image: url({{ galleryEntries.image.first().getUrl('small') }});"></div>
                </a>
                <div class="gallery__content">
                    {{ galleryEntries.postDate.date|date("d M Y") }}
                    <h4 class="gallery__title">{{ galleryEntries.title }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
