{% extends "layouts/main" %}

{% set title = entry.section.name %}
{% set crumbs = [
    {
        title: title,
        url: url(entry.section.handle)
    },
		{
        title: entry.title,
        url: entry.url
    },
] %}

{% block mainContent %}
		<div class="row article">
				<div class="col-xs-8">
						<div class="article__date">{{ entry.postDate.date|date("d M Y") }}</div>
						<h2 class="article__title article__title--full">{{ entry.title }}</h2>
						<div class="article__content">
								{% include "_includes/articleBody" %}
						</div>
				</div>
				<div class="col-xs-4">
						{% include "_includes/sidebar" %}
				</div>
		</div>
{% endblock %}
