{% extends "layouts/main" %}

{% set title = "Новости" %}
{% set crumbs = [
    {
        title: title,
        url: url("news")
    }
] %}

{% block mainContent %}

		{% paginate craft.entries.section('news').limit(6) as pageInfo, newsEntries %}

		<div class="row">
				<div class="col-xs-8">
						{% for newsEntry in newsEntries %}
								<section class="row article">
										{% if newsEntry.image.first() %}
												<div class="col-xs-4">
														<a href="{{ newsEntry.url }}">
																<img src="{{ newsEntry.image.first().getUrl('small') }}">
														</a>
												</div>
										{% endif %}
										<div class="col-xs-{% if newsEntry.image.first() %}8{% else %}12{% endif %}">
												<div class="article__date">{{ newsEntry.postDate.date|date("d M Y") }}</div>
												<div class="article__short-content">
														<h2 class="article__title">
																<a href="{{ newsEntry.url }}">{{ newsEntry.title|slice(0, 40) }}{% if newsEntry.title|length > 40 %}...{% endif %}</a>
														</h2>
														{{ newsEntry.shortDescription|slice(0, 250)|striptags }}{% if newsEntry.shortDescription|length > 300 %}...{% endif %}
												</div>
										</div>
								</section>
						{% endfor %}

				</div>
				<div class="col-xs-4">
						{% include "_includes/sidebar" %}
				</div>
		</div>

		<div class="row">
				<div class="col-xs-12 text-center">
						<ul class="pagination">
								{% for page, url in pageInfo.getPrevUrls(5) %}
										<li><a href="{{ url }}">{{ page }}</a></li>
								{% endfor %}
								<li class="active">
										<a href="#">{{ pageInfo.currentPage }}</a>
								</li>
								{% for page, url in pageInfo.getNextUrls(5) %}
						    		<li><a href="{{ url }}">{{ page }}</a></li>
								{% endfor %}
						</ul>
				</div>
		</div>
{% endblock %}
