.container {
  width: 1170px !important; }

img {
  max-width: 100%; }

a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear; }
  a:hover {
    color: #0086af; }

body {
  min-width: 1200px;
  position: relative; }

.header {
  padding: 15px 0; }

.homepage {
  background: url("/assets/images/main-background.png") no-repeat;
  background-position: center top;
  background-size: cover; }

.main {
  background-color: #eaeeee;
  padding: 25px 0; }
  .main .main__title {
    margin: 0;
    color: #5f982f; }
  .main .main__content {
    background-color: #FFF;
    padding: 20px 15px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 15px; }

.forum {
  width: 100%;
  height: 400px;
  border: 0;
  background-color: #FFF;
  padding: 15px;
  border-radius: 2px; }

.sidebar-banner {
  background-image: url("../images/side-background.png");
  background-repeat: no-repeat;
  padding: 30px 30px;
  position: relative;
  height: 1087px;
  border-radius: 2px; }

.banners-bottom {
  background-color: #eaeeee;
  padding: 30px 0; }
  .banners-bottom .banners-bottom__title {
    font-size: 14px;
    margin-bottom: 15px; }

.footer {
  background-color: #0086af;
  color: #FFF;
  padding: 20px 0; }
  .footer .footer__divider {
    border-bottom: 2px solid rgba(236, 236, 236, 0.1);
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer .dev .dev__title {
    position: relative;
    font-size: 12px;
    top: 1px; }

.navigation {
  padding: 0;
  margin: 0;
  position: relative; }
  .navigation li {
    list-style: none;
    display: inline-block;
    position: relative; }
    .navigation li:hover .navigation__children {
      display: block; }
    .navigation li:hover .navigation__icon-arrow {
      opacity: 1;
      transform: rotate(-90deg); }
    .navigation li a {
      font-weight: bold;
      color: #ADADAD;
      font-size: 16px;
      padding: 42px 15px 10px 15px;
      text-transform: uppercase;
      display: block;
      text-decoration: none; }
      .navigation li a:hover {
        color: #0086af; }
      .navigation li a .navigation__icon-arrow {
        background-image: url("/assets/images/icon-arrow.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        opacity: 0.4;
        position: relative;
        top: 2px;
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear; }
  .navigation .navigation__active a {
    color: #0086af; }
    .navigation .navigation__active a:hover {
      color: #005f7c; }
  .navigation .navigation__children {
    display: none;
    position: absolute;
    padding: 5px 0;
    border-radius: 0 0 2px 2px;
    background-color: #FFF;
    z-index: 100;
    min-width: 200px;
    transition: display 1s ease-out;
    -moz-transition: display 1s ease-out;
    -o-transition: display 1s ease-out;
    -webkit-transition: display 1s ease-out; }
    .navigation .navigation__children li {
      display: block; }
      .navigation .navigation__children li a {
        padding: 10px 15px;
        display: block;
        color: #ADADAD;
        text-transform: none; }
        .navigation .navigation__children li a:hover {
          color: #0086af; }

.second-navigation {
  padding: 0;
  margin: 0; }
  .second-navigation li {
    list-style: none;
    display: inline-block;
    margin-right: 15px; }
    .second-navigation li a {
      color: #FFF;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase; }
  .second-navigation .second-navigation__active a {
    text-decoration: underline; }

.social-icons {
  padding: 40px 0;
  margin: 0; }
  .social-icons li {
    list-style: none;
    display: inline-block; }
    .social-icons li a {
      margin-right: 15px; }
      .social-icons li a img {
        animation: all 0.3s forwards ease-out; }
        .social-icons li a img:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2); }

.social-icons--white {
  padding: 0; }

.countdown {
  color: #FFF;
  padding-left: 60px;
  padding-top: 60px; }
  .countdown .countdown__title {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(236, 236, 236, 0.35);
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block; }
  .countdown .countdown__date {
    font-size: 60px; }
  .countdown .countdown__date-title {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: bold;
    position: relative;
    top: 15px; }

.countdown--side {
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -130px; }
  .countdown--side .countdown__title {
    font-size: 14px; }
  .countdown--side .countdown__date {
    font-size: 48px; }
  .countdown--side .countdown__date-title {
    font-size: 12px; }

.main-button {
  color: #FFF;
  background-color: #cf0808;
  display: inline-block;
  border-radius: 2px;
  border-bottom: 3px solid #9e0606;
  text-decoration: none; }
  .main-button:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #b60707;
    color: #f2f2f2; }
    .main-button:hover img {
      opacity: 0.9; }
  .main-button:visited, .main-button:focus {
    text-decoration: none;
    color: #FFF; }

.main-button--lg {
  padding: 10px 30px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 120px; }
  .main-button--lg img {
    margin-right: 20px; }

.main-button--md {
  padding: 12px 10px 8px 10px;
  text-transform: uppercase;
  font-weight: bold; }
  .main-button--md img {
    width: 15px;
    margin-right: 10px;
    position: relative;
    top: -3px; }

.more-button {
  color: #0086af !important;
  background-color: #FFF;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 2px; }
  .more-button:hover {
    color: #FFF !important;
    text-decoration: none;
    background-color: #0086af; }
  .more-button:visited, .more-button:focus {
    text-decoration: none;
    color: #FFF; }

.entries {
  margin-top: 100px;
  margin-bottom: 30px; }

.entry {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.42); }
  .entry .entry__date {
    background-color: #5f982f;
    color: #FFF;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .entry .entry__date--relative {
    position: relative; }
  .entry .entry__image {
    opacity: 0.9;
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .entry .entry__image:hover {
      opacity: 1; }
    .entry .entry__image a {
      width: 100%;
      height: 100%;
      position: absolute; }
  .entry .entry__content {
    background-color: #FFF;
    padding: 5px 15px;
    border-radius: 0 0 2px 2px;
    min-height: 180px; }
    .entry .entry__content a {
      color: #009dce; }
    .entry .entry__content .entry__content-title {
      font-size: 16px;
      font-weight: bold; }
    .entry .entry__content .entry__content-short {
      margin-bottom: 15px; }
  .entry .entry__content--long {
    min-height: 352px; }

.entry--special .entry__content {
  background-color: #5f982f;
  color: #FFF; }
  .entry--special .entry__content a {
    color: #FFF; }
  .entry--special .entry__content .entry__content-title {
    text-transform: uppercase;
    font-weight: normal; }

.breadcrumbs {
  padding: 0;
  margin: 10px 0; }
  .breadcrumbs li {
    list-style: none;
    display: inline-block; }
    .breadcrumbs li::after {
      content: "/";
      margin-left: 5px;
      margin-right: 0;
      color: #ADADAD; }
    .breadcrumbs li:last-of-type::after {
      content: ""; }
  .breadcrumbs .breadcrumbs__active a {
    color: #878787; }

.galleries {
  margin-top: 15px;
  margin-bottom: 15px; }

.gallery {
  margin-bottom: 35px; }
  .gallery .gallery__image {
    opacity: 0.9;
    animation: opacity 0.9s forwards ease-out;
    -webkit-animation: opacity 0.9s forwards ease-out;
    -o-animation: opacity 0.9s forwards ease-out;
    -moz-animation: opacity 0.9s forwards ease-out;
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .gallery .gallery__image:hover {
      opacity: 1; }
  .gallery .gallery__content {
    padding: 5px 15px;
    background-color: #5f982f;
    color: #FFF;
    border-radius: 0 0 2px 2px; }
  .gallery .gallery__title {
    font-weight: bold;
    font-size: 16px; }

.article {
  margin-bottom: 25px; }
  .article .article__date {
    color: #ADADAD;
    font-size: 13px; }
  .article .article__title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px; }
  .article .article__title--full {
    font-size: 30px;
    font-weight: bold; }
  .article .article__image {
    margin-top: 15px;
    margin-bottom: 15px; }
  .article .article__content {
    text-align: justify; }

.article--about {
  padding: 60px 0; }
  .article--about .article__content {
    margin-top: 100px; }
  .article--about .article__title {
    font-size: 16px;
    color: #cf0808;
    text-transform: uppercase;
    font-weight: bold; }

.pagination li a {
  border-radius: 20px !important;
  margin-right: 5px;
  color: #5f982f;
  border: 0; }
  .pagination li a:hover {
    border: 0;
    background-color: #84c84c;
    color: #FFF; }

.pagination .active a {
  background-color: #5f982f;
  color: #FFF; }
  .pagination .active a:hover {
    background-color: #5f982f; }
