/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html
{
    font-family: sans-serif;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body
{
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}
audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}
audio:not([controls])
{
    display: none;

    height: 0;
}
[hidden],
template
{
    display: none;
}
a
{
    background-color: transparent;
}
a:active,
a:hover
{
    outline: 0;
}
abbr[title]
{
    border-bottom: 1px dotted;
}
b,
strong
{
    font-weight: bold;
}
dfn
{
    font-style: italic;
}
h1
{
    font-size: 2em;

    margin: .67em 0;
}
mark
{
    color: #000;
    background: #ff0;
}
small
{
    font-size: 80%;
}
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sup
{
    top: -.5em;
}
sub
{
    bottom: -.25em;
}
img
{
    border: 0;
}
svg:not(:root)
{
    overflow: hidden;
}
figure
{
    margin: 1em 40px;
}
hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}
pre
{
    overflow: auto;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}
button
{
    overflow: visible;
}
button,
select
{
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}
button[disabled],
html input[disabled]
{
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
input
{
    line-height: normal;
}
input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
input[type='search']
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}
legend
{
    padding: 0;

    border: 0;
}
textarea
{
    overflow: auto;
}
optgroup
{
    font-weight: bold;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th
{
    padding: 0;
}
*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html
{
    font-size: 10px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    color: #333;
    background-color: #fff;
}
input,
button,
select,
textarea
{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a
{
    text-decoration: none;

    color: #337ab7;
}
a:hover,
a:focus
{
    text-decoration: underline;

    color: #23527c;
}
a:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
figure
{
    margin: 0;
}
img
{
    vertical-align: middle;
}
.img-responsive
{
    display: block;

    max-width: 100%;
    height: auto;
}
.img-rounded
{
    border-radius: 6px;
}
.img-thumbnail
{
    line-height: 1.42857143;

    display: inline-block;

    max-width: 100%;
    height: auto;
    padding: 4px;

    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
.img-circle
{
    border-radius: 50%;
}
hr
{
    margin-top: 20px;
    margin-bottom: 20px;

    border: 0;
    border-top: 1px solid #eee;
}
.sr-only
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
[role='button']
{
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;

    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small
{
    font-weight: normal;
    line-height: 1;

    color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small
{
    font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6
{
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small
{
    font-size: 75%;
}
h1,
.h1
{
    font-size: 36px;
}
h2,
.h2
{
    font-size: 30px;
}
h3,
.h3
{
    font-size: 24px;
}
h4,
.h4
{
    font-size: 18px;
}
h5,
.h5
{
    font-size: 14px;
}
h6,
.h6
{
    font-size: 12px;
}
p
{
    margin: 0 0 10px;
}
.lead
{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;

    margin-bottom: 20px;
}
@media (min-width: 768px)
{
    .lead
    {
        font-size: 21px;
    }
}
small,
.small
{
    font-size: 85%;
}
mark,
.mark
{
    padding: .2em;

    background-color: #fcf8e3;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-justify
{
    text-align: justify;
}
.text-nowrap
{
    white-space: nowrap;
}
.text-lowercase
{
    text-transform: lowercase;
}
.text-uppercase
{
    text-transform: uppercase;
}
.text-capitalize
{
    text-transform: capitalize;
}
.text-muted
{
    color: #777;
}
.text-primary
{
    color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus
{
    color: #286090;
}
.text-success
{
    color: #3c763d;
}
a.text-success:hover,
a.text-success:focus
{
    color: #2b542c;
}
.text-info
{
    color: #31708f;
}
a.text-info:hover,
a.text-info:focus
{
    color: #245269;
}
.text-warning
{
    color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus
{
    color: #66512c;
}
.text-danger
{
    color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus
{
    color: #843534;
}
.bg-primary
{
    color: #fff;
    background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus
{
    background-color: #286090;
}
.bg-success
{
    background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus
{
    background-color: #c1e2b3;
}
.bg-info
{
    background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus
{
    background-color: #afd9ee;
}
.bg-warning
{
    background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus
{
    background-color: #f7ecb5;
}
.bg-danger
{
    background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus
{
    background-color: #e4b9b9;
}
.page-header
{
    margin: 40px 0 20px;
    padding-bottom: 9px;

    border-bottom: 1px solid #eee;
}
ul,
ol
{
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol
{
    margin-bottom: 0;
}
.list-unstyled
{
    padding-left: 0;

    list-style: none;
}
.list-inline
{
    margin-left: -5px;
    padding-left: 0;

    list-style: none;
}
.list-inline > li
{
    display: inline-block;

    padding-right: 5px;
    padding-left: 5px;
}
dl
{
    margin-top: 0;
    margin-bottom: 20px;
}
dt,
dd
{
    line-height: 1.42857143;
}
dt
{
    font-weight: bold;
}
dd
{
    margin-left: 0;
}
@media (min-width: 768px)
{
    .dl-horizontal dt
    {
        float: left;
        clear: left;
        overflow: hidden;

        width: 160px;

        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dl-horizontal dd
    {
        margin-left: 180px;
    }
}
abbr[title],
abbr[data-original-title]
{
    cursor: help;

    border-bottom: 1px dotted #777;
}
.initialism
{
    font-size: 90%;

    text-transform: uppercase;
}
blockquote
{
    font-size: 17.5px;

    margin: 0 0 20px;
    padding: 10px 20px;

    border-left: 5px solid #eee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child
{
    margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small
{
    font-size: 80%;
    line-height: 1.42857143;

    display: block;

    color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before
{
    content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right
{
    padding-right: 15px;
    padding-left: 0;

    text-align: right;

    border-right: 5px solid #eee;
    border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before
{
    content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after
{
    content: '\00A0 \2014';
}
address
{
    font-style: normal;
    line-height: 1.42857143;

    margin-bottom: 20px;
}
code,
kbd,
pre,
samp
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
code
{
    font-size: 90%;

    padding: 2px 4px;

    color: #c7254e;
    border-radius: 4px;
    background-color: #f9f2f4;
}
kbd
{
    font-size: 90%;

    padding: 2px 4px;

    color: #fff;
    border-radius: 3px;
    background-color: #333;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd
{
    font-size: 100%;
    font-weight: bold;

    padding: 0;

    -webkit-box-shadow: none;
            box-shadow: none;
}
pre
{
    font-size: 13px;
    line-height: 1.42857143;

    display: block;

    margin: 0 0 10px;
    padding: 9.5px;

    word-wrap: break-word;
    word-break: break-all;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}
pre code
{
    font-size: inherit;

    padding: 0;

    white-space: pre-wrap;

    color: inherit;
    border-radius: 0;
    background-color: transparent;
}
.pre-scrollable
{
    overflow-y: scroll;

    max-height: 340px;
}
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px)
{
    .container
    {
        width: 750px;
    }
}
@media (min-width: 992px)
{
    .container
    {
        width: 970px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1170px;
    }
}
.container-fluid
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12
{
    position: relative;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12
{
    float: left;
}
.col-xs-12
{
    width: 100%;
}
.col-xs-11
{
    width: 91.66666667%;
}
.col-xs-10
{
    width: 83.33333333%;
}
.col-xs-9
{
    width: 75%;
}
.col-xs-8
{
    width: 66.66666667%;
}
.col-xs-7
{
    width: 58.33333333%;
}
.col-xs-6
{
    width: 50%;
}
.col-xs-5
{
    width: 41.66666667%;
}
.col-xs-4
{
    width: 33.33333333%;
}
.col-xs-3
{
    width: 25%;
}
.col-xs-2
{
    width: 16.66666667%;
}
.col-xs-1
{
    width: 8.33333333%;
}
.col-xs-pull-12
{
    right: 100%;
}
.col-xs-pull-11
{
    right: 91.66666667%;
}
.col-xs-pull-10
{
    right: 83.33333333%;
}
.col-xs-pull-9
{
    right: 75%;
}
.col-xs-pull-8
{
    right: 66.66666667%;
}
.col-xs-pull-7
{
    right: 58.33333333%;
}
.col-xs-pull-6
{
    right: 50%;
}
.col-xs-pull-5
{
    right: 41.66666667%;
}
.col-xs-pull-4
{
    right: 33.33333333%;
}
.col-xs-pull-3
{
    right: 25%;
}
.col-xs-pull-2
{
    right: 16.66666667%;
}
.col-xs-pull-1
{
    right: 8.33333333%;
}
.col-xs-pull-0
{
    right: auto;
}
.col-xs-push-12
{
    left: 100%;
}
.col-xs-push-11
{
    left: 91.66666667%;
}
.col-xs-push-10
{
    left: 83.33333333%;
}
.col-xs-push-9
{
    left: 75%;
}
.col-xs-push-8
{
    left: 66.66666667%;
}
.col-xs-push-7
{
    left: 58.33333333%;
}
.col-xs-push-6
{
    left: 50%;
}
.col-xs-push-5
{
    left: 41.66666667%;
}
.col-xs-push-4
{
    left: 33.33333333%;
}
.col-xs-push-3
{
    left: 25%;
}
.col-xs-push-2
{
    left: 16.66666667%;
}
.col-xs-push-1
{
    left: 8.33333333%;
}
.col-xs-push-0
{
    left: auto;
}
.col-xs-offset-12
{
    margin-left: 100%;
}
.col-xs-offset-11
{
    margin-left: 91.66666667%;
}
.col-xs-offset-10
{
    margin-left: 83.33333333%;
}
.col-xs-offset-9
{
    margin-left: 75%;
}
.col-xs-offset-8
{
    margin-left: 66.66666667%;
}
.col-xs-offset-7
{
    margin-left: 58.33333333%;
}
.col-xs-offset-6
{
    margin-left: 50%;
}
.col-xs-offset-5
{
    margin-left: 41.66666667%;
}
.col-xs-offset-4
{
    margin-left: 33.33333333%;
}
.col-xs-offset-3
{
    margin-left: 25%;
}
.col-xs-offset-2
{
    margin-left: 16.66666667%;
}
.col-xs-offset-1
{
    margin-left: 8.33333333%;
}
.col-xs-offset-0
{
    margin-left: 0;
}
@media (min-width: 768px)
{
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12
    {
        float: left;
    }
    .col-sm-12
    {
        width: 100%;
    }
    .col-sm-11
    {
        width: 91.66666667%;
    }
    .col-sm-10
    {
        width: 83.33333333%;
    }
    .col-sm-9
    {
        width: 75%;
    }
    .col-sm-8
    {
        width: 66.66666667%;
    }
    .col-sm-7
    {
        width: 58.33333333%;
    }
    .col-sm-6
    {
        width: 50%;
    }
    .col-sm-5
    {
        width: 41.66666667%;
    }
    .col-sm-4
    {
        width: 33.33333333%;
    }
    .col-sm-3
    {
        width: 25%;
    }
    .col-sm-2
    {
        width: 16.66666667%;
    }
    .col-sm-1
    {
        width: 8.33333333%;
    }
    .col-sm-pull-12
    {
        right: 100%;
    }
    .col-sm-pull-11
    {
        right: 91.66666667%;
    }
    .col-sm-pull-10
    {
        right: 83.33333333%;
    }
    .col-sm-pull-9
    {
        right: 75%;
    }
    .col-sm-pull-8
    {
        right: 66.66666667%;
    }
    .col-sm-pull-7
    {
        right: 58.33333333%;
    }
    .col-sm-pull-6
    {
        right: 50%;
    }
    .col-sm-pull-5
    {
        right: 41.66666667%;
    }
    .col-sm-pull-4
    {
        right: 33.33333333%;
    }
    .col-sm-pull-3
    {
        right: 25%;
    }
    .col-sm-pull-2
    {
        right: 16.66666667%;
    }
    .col-sm-pull-1
    {
        right: 8.33333333%;
    }
    .col-sm-pull-0
    {
        right: auto;
    }
    .col-sm-push-12
    {
        left: 100%;
    }
    .col-sm-push-11
    {
        left: 91.66666667%;
    }
    .col-sm-push-10
    {
        left: 83.33333333%;
    }
    .col-sm-push-9
    {
        left: 75%;
    }
    .col-sm-push-8
    {
        left: 66.66666667%;
    }
    .col-sm-push-7
    {
        left: 58.33333333%;
    }
    .col-sm-push-6
    {
        left: 50%;
    }
    .col-sm-push-5
    {
        left: 41.66666667%;
    }
    .col-sm-push-4
    {
        left: 33.33333333%;
    }
    .col-sm-push-3
    {
        left: 25%;
    }
    .col-sm-push-2
    {
        left: 16.66666667%;
    }
    .col-sm-push-1
    {
        left: 8.33333333%;
    }
    .col-sm-push-0
    {
        left: auto;
    }
    .col-sm-offset-12
    {
        margin-left: 100%;
    }
    .col-sm-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9
    {
        margin-left: 75%;
    }
    .col-sm-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6
    {
        margin-left: 50%;
    }
    .col-sm-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3
    {
        margin-left: 25%;
    }
    .col-sm-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0
    {
        margin-left: 0;
    }
}
@media (min-width: 992px)
{
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12
    {
        float: left;
    }
    .col-md-12
    {
        width: 100%;
    }
    .col-md-11
    {
        width: 91.66666667%;
    }
    .col-md-10
    {
        width: 83.33333333%;
    }
    .col-md-9
    {
        width: 75%;
    }
    .col-md-8
    {
        width: 66.66666667%;
    }
    .col-md-7
    {
        width: 58.33333333%;
    }
    .col-md-6
    {
        width: 50%;
    }
    .col-md-5
    {
        width: 41.66666667%;
    }
    .col-md-4
    {
        width: 33.33333333%;
    }
    .col-md-3
    {
        width: 25%;
    }
    .col-md-2
    {
        width: 16.66666667%;
    }
    .col-md-1
    {
        width: 8.33333333%;
    }
    .col-md-pull-12
    {
        right: 100%;
    }
    .col-md-pull-11
    {
        right: 91.66666667%;
    }
    .col-md-pull-10
    {
        right: 83.33333333%;
    }
    .col-md-pull-9
    {
        right: 75%;
    }
    .col-md-pull-8
    {
        right: 66.66666667%;
    }
    .col-md-pull-7
    {
        right: 58.33333333%;
    }
    .col-md-pull-6
    {
        right: 50%;
    }
    .col-md-pull-5
    {
        right: 41.66666667%;
    }
    .col-md-pull-4
    {
        right: 33.33333333%;
    }
    .col-md-pull-3
    {
        right: 25%;
    }
    .col-md-pull-2
    {
        right: 16.66666667%;
    }
    .col-md-pull-1
    {
        right: 8.33333333%;
    }
    .col-md-pull-0
    {
        right: auto;
    }
    .col-md-push-12
    {
        left: 100%;
    }
    .col-md-push-11
    {
        left: 91.66666667%;
    }
    .col-md-push-10
    {
        left: 83.33333333%;
    }
    .col-md-push-9
    {
        left: 75%;
    }
    .col-md-push-8
    {
        left: 66.66666667%;
    }
    .col-md-push-7
    {
        left: 58.33333333%;
    }
    .col-md-push-6
    {
        left: 50%;
    }
    .col-md-push-5
    {
        left: 41.66666667%;
    }
    .col-md-push-4
    {
        left: 33.33333333%;
    }
    .col-md-push-3
    {
        left: 25%;
    }
    .col-md-push-2
    {
        left: 16.66666667%;
    }
    .col-md-push-1
    {
        left: 8.33333333%;
    }
    .col-md-push-0
    {
        left: auto;
    }
    .col-md-offset-12
    {
        margin-left: 100%;
    }
    .col-md-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9
    {
        margin-left: 75%;
    }
    .col-md-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6
    {
        margin-left: 50%;
    }
    .col-md-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3
    {
        margin-left: 25%;
    }
    .col-md-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0
    {
        margin-left: 0;
    }
}
@media (min-width: 1200px)
{
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12
    {
        float: left;
    }
    .col-lg-12
    {
        width: 100%;
    }
    .col-lg-11
    {
        width: 91.66666667%;
    }
    .col-lg-10
    {
        width: 83.33333333%;
    }
    .col-lg-9
    {
        width: 75%;
    }
    .col-lg-8
    {
        width: 66.66666667%;
    }
    .col-lg-7
    {
        width: 58.33333333%;
    }
    .col-lg-6
    {
        width: 50%;
    }
    .col-lg-5
    {
        width: 41.66666667%;
    }
    .col-lg-4
    {
        width: 33.33333333%;
    }
    .col-lg-3
    {
        width: 25%;
    }
    .col-lg-2
    {
        width: 16.66666667%;
    }
    .col-lg-1
    {
        width: 8.33333333%;
    }
    .col-lg-pull-12
    {
        right: 100%;
    }
    .col-lg-pull-11
    {
        right: 91.66666667%;
    }
    .col-lg-pull-10
    {
        right: 83.33333333%;
    }
    .col-lg-pull-9
    {
        right: 75%;
    }
    .col-lg-pull-8
    {
        right: 66.66666667%;
    }
    .col-lg-pull-7
    {
        right: 58.33333333%;
    }
    .col-lg-pull-6
    {
        right: 50%;
    }
    .col-lg-pull-5
    {
        right: 41.66666667%;
    }
    .col-lg-pull-4
    {
        right: 33.33333333%;
    }
    .col-lg-pull-3
    {
        right: 25%;
    }
    .col-lg-pull-2
    {
        right: 16.66666667%;
    }
    .col-lg-pull-1
    {
        right: 8.33333333%;
    }
    .col-lg-pull-0
    {
        right: auto;
    }
    .col-lg-push-12
    {
        left: 100%;
    }
    .col-lg-push-11
    {
        left: 91.66666667%;
    }
    .col-lg-push-10
    {
        left: 83.33333333%;
    }
    .col-lg-push-9
    {
        left: 75%;
    }
    .col-lg-push-8
    {
        left: 66.66666667%;
    }
    .col-lg-push-7
    {
        left: 58.33333333%;
    }
    .col-lg-push-6
    {
        left: 50%;
    }
    .col-lg-push-5
    {
        left: 41.66666667%;
    }
    .col-lg-push-4
    {
        left: 33.33333333%;
    }
    .col-lg-push-3
    {
        left: 25%;
    }
    .col-lg-push-2
    {
        left: 16.66666667%;
    }
    .col-lg-push-1
    {
        left: 8.33333333%;
    }
    .col-lg-push-0
    {
        left: auto;
    }
    .col-lg-offset-12
    {
        margin-left: 100%;
    }
    .col-lg-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9
    {
        margin-left: 75%;
    }
    .col-lg-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6
    {
        margin-left: 50%;
    }
    .col-lg-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3
    {
        margin-left: 25%;
    }
    .col-lg-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0
    {
        margin-left: 0;
    }
}
table
{
    background-color: transparent;
}
caption
{
    padding-top: 8px;
    padding-bottom: 8px;

    text-align: left;

    color: #777;
}
th
{
    text-align: left;
}
.table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
{
    line-height: 1.42857143;

    padding: 8px;

    vertical-align: top;

    border-top: 1px solid #ddd;
}
.table > thead > tr > th
{
    vertical-align: bottom;

    border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td
{
    border-top: 0;
}
.table > tbody + tbody
{
    border-top: 2px solid #ddd;
}
.table .table
{
    background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td
{
    padding: 5px;
}
.table-bordered
{
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td
{
    border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td
{
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd)
{
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover
{
    background-color: #f5f5f5;
}
table col[class*='col-']
{
    position: static;

    display: table-column;
    float: none;
}
table td[class*='col-'],
table th[class*='col-']
{
    position: static;

    display: table-cell;
    float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th
{
    background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th
{
    background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th
{
    background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th
{
    background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th
{
    background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th
{
    background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th
{
    background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th
{
    background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th
{
    background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th
{
    background-color: #ebcccc;
}
.table-responsive
{
    overflow-x: auto;

    min-height: .01%;
}
@media screen and (max-width: 767px)
{
    .table-responsive
    {
        overflow-y: hidden;

        width: 100%;
        margin-bottom: 15px;

        border: 1px solid #ddd;

        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive > .table
    {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td
    {
        white-space: nowrap;
    }
    .table-responsive > .table-bordered
    {
        border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child
    {
        border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child
    {
        border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td
    {
        border-bottom: 0;
    }
}
fieldset
{
    min-width: 0;
    margin: 0;
    padding: 0;

    border: 0;
}
legend
{
    font-size: 21px;
    line-height: inherit;

    display: block;

    width: 100%;
    margin-bottom: 20px;
    padding: 0;

    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
label
{
    font-weight: bold;

    display: inline-block;

    max-width: 100%;
    margin-bottom: 5px;
}
input[type='search']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
input[type='radio'],
input[type='checkbox']
{
    line-height: normal;

    margin: 4px 0 0;
    margin-top: 1px \9;
}
input[type='file']
{
    display: block;
}
input[type='range']
{
    display: block;

    width: 100%;
}
select[multiple],
select[size]
{
    height: auto;
}
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
output
{
    font-size: 14px;
    line-height: 1.42857143;

    display: block;

    padding-top: 7px;

    color: #555;
}
.form-control
{
    font-size: 14px;
    line-height: 1.42857143;

    display: block;

    width: 100%;
    height: 34px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder
{
    opacity: 1;
    color: #999;
}
.form-control:-ms-input-placeholder
{
    color: #999;
}
.form-control::-webkit-input-placeholder
{
    color: #999;
}
.form-control::-ms-expand
{
    border: 0;
    background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
{
    opacity: 1;
    background-color: #eee;
}
.form-control[disabled],
fieldset[disabled] .form-control
{
    cursor: not-allowed;
}
textarea.form-control
{
    height: auto;
}
input[type='search']
{
    -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    input[type='date'].form-control,
    input[type='time'].form-control,
    input[type='datetime-local'].form-control,
    input[type='month'].form-control
    {
        line-height: 34px;
    }
    input[type='date'].input-sm,
    input[type='time'].input-sm,
    input[type='datetime-local'].input-sm,
    input[type='month'].input-sm,
    .input-group-sm input[type='date'],
    .input-group-sm input[type='time'],
    .input-group-sm input[type='datetime-local'],
    .input-group-sm input[type='month']
    {
        line-height: 30px;
    }
    input[type='date'].input-lg,
    input[type='time'].input-lg,
    input[type='datetime-local'].input-lg,
    input[type='month'].input-lg,
    .input-group-lg input[type='date'],
    .input-group-lg input[type='time'],
    .input-group-lg input[type='datetime-local'],
    .input-group-lg input[type='month']
    {
        line-height: 46px;
    }
}
.form-group
{
    margin-bottom: 15px;
}
.radio,
.checkbox
{
    position: relative;

    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label
{
    font-weight: normal;

    min-height: 20px;
    margin-bottom: 0;
    padding-left: 20px;

    cursor: pointer;
}
.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox']
{
    position: absolute;

    margin-top: 4px \9;
    margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox
{
    margin-top: -5px;
}
.radio-inline,
.checkbox-inline
{
    font-weight: normal;

    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding-left: 20px;

    cursor: pointer;
    vertical-align: middle;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline
{
    margin-top: 0;
    margin-left: 10px;
}
input[type='radio'][disabled],
input[type='checkbox'][disabled],
input[type='radio'].disabled,
input[type='checkbox'].disabled,
fieldset[disabled] input[type='radio'],
fieldset[disabled] input[type='checkbox']
{
    cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline
{
    cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label
{
    cursor: not-allowed;
}
.form-control-static
{
    min-height: 34px;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
.form-control-static.input-lg,
.form-control-static.input-sm
{
    padding-right: 0;
    padding-left: 0;
}
.input-sm
{
    font-size: 12px;
    line-height: 1.5;

    height: 30px;
    padding: 5px 10px;

    border-radius: 3px;
}
select.input-sm
{
    line-height: 30px;

    height: 30px;
}
textarea.input-sm,
select[multiple].input-sm
{
    height: auto;
}
.form-group-sm .form-control
{
    font-size: 12px;
    line-height: 1.5;

    height: 30px;
    padding: 5px 10px;

    border-radius: 3px;
}
.form-group-sm select.form-control
{
    line-height: 30px;

    height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control
{
    height: auto;
}
.form-group-sm .form-control-static
{
    font-size: 12px;
    line-height: 1.5;

    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
}
.input-lg
{
    font-size: 18px;
    line-height: 1.3333333;

    height: 46px;
    padding: 10px 16px;

    border-radius: 6px;
}
select.input-lg
{
    line-height: 46px;

    height: 46px;
}
textarea.input-lg,
select[multiple].input-lg
{
    height: auto;
}
.form-group-lg .form-control
{
    font-size: 18px;
    line-height: 1.3333333;

    height: 46px;
    padding: 10px 16px;

    border-radius: 6px;
}
.form-group-lg select.form-control
{
    line-height: 46px;

    height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control
{
    height: auto;
}
.form-group-lg .form-control-static
{
    font-size: 18px;
    line-height: 1.3333333;

    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
}
.has-feedback
{
    position: relative;
}
.has-feedback .form-control
{
    padding-right: 42.5px;
}
.form-control-feedback
{
    line-height: 34px;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: block;

    width: 34px;
    height: 34px;

    text-align: center;
    pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback
{
    line-height: 46px;

    width: 46px;
    height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback
{
    line-height: 30px;

    width: 30px;
    height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label
{
    color: #3c763d;
}
.has-success .form-control
{
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus
{
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon
{
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.has-success .form-control-feedback
{
    color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label
{
    color: #8a6d3b;
}
.has-warning .form-control
{
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus
{
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon
{
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
.has-warning .form-control-feedback
{
    color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label
{
    color: #a94442;
}
.has-error .form-control
{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus
{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon
{
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.has-error .form-control-feedback
{
    color: #a94442;
}
.has-feedback label ~ .form-control-feedback
{
    top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback
{
    top: 0;
}
.help-block
{
    display: block;

    margin-top: 5px;
    margin-bottom: 10px;

    color: #737373;
}
@media (min-width: 768px)
{
    .form-inline .form-group
    {
        display: inline-block;

        margin-bottom: 0;

        vertical-align: middle;
    }
    .form-inline .form-control
    {
        display: inline-block;

        width: auto;

        vertical-align: middle;
    }
    .form-inline .form-control-static
    {
        display: inline-block;
    }
    .form-inline .input-group
    {
        display: inline-table;

        vertical-align: middle;
    }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control
    {
        width: auto;
    }
    .form-inline .input-group > .form-control
    {
        width: 100%;
    }
    .form-inline .control-label
    {
        margin-bottom: 0;

        vertical-align: middle;
    }
    .form-inline .radio,
    .form-inline .checkbox
    {
        display: inline-block;

        margin-top: 0;
        margin-bottom: 0;

        vertical-align: middle;
    }
    .form-inline .radio label,
    .form-inline .checkbox label
    {
        padding-left: 0;
    }
    .form-inline .radio input[type='radio'],
    .form-inline .checkbox input[type='checkbox']
    {
        position: relative;

        margin-left: 0;
    }
    .form-inline .has-feedback .form-control-feedback
    {
        top: 0;
    }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox
{
    min-height: 27px;
}
.form-horizontal .form-group
{
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px)
{
    .form-horizontal .control-label
    {
        margin-bottom: 0;
        padding-top: 7px;

        text-align: right;
    }
}
.form-horizontal .has-feedback .form-control-feedback
{
    right: 15px;
}
@media (min-width: 768px)
{
    .form-horizontal .form-group-lg .control-label
    {
        font-size: 18px;

        padding-top: 11px;
    }
}
@media (min-width: 768px)
{
    .form-horizontal .form-group-sm .control-label
    {
        font-size: 12px;

        padding-top: 6px;
    }
}
.btn
{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus
{
    text-decoration: none;

    color: #333;
}
.btn:active,
.btn.active
{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
{
    cursor: not-allowed;

    opacity: .65;
    -webkit-box-shadow: none;
            box-shadow: none;

    filter: alpha(opacity=65);
}
a.btn.disabled,
fieldset[disabled] a.btn
{
    pointer-events: none;
}
.btn-default
{
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}
.btn-default:focus,
.btn-default.focus
{
    color: #333;
    border-color: #8c8c8c;
    background-color: #e6e6e6;
}
.btn-default:hover
{
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus
{
    color: #333;
    border-color: #8c8c8c;
    background-color: #d4d4d4;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus
{
    border-color: #ccc;
    background-color: #fff;
}
.btn-default .badge
{
    color: #fff;
    background-color: #333;
}
.btn-primary
{
    color: #fff;
    border-color: #2e6da4;
    background-color: #337ab7;
}
.btn-primary:focus,
.btn-primary.focus
{
    color: #fff;
    border-color: #122b40;
    background-color: #286090;
}
.btn-primary:hover
{
    color: #fff;
    border-color: #204d74;
    background-color: #286090;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    color: #fff;
    border-color: #204d74;
    background-color: #286090;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus
{
    color: #fff;
    border-color: #122b40;
    background-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus
{
    border-color: #2e6da4;
    background-color: #337ab7;
}
.btn-primary .badge
{
    color: #337ab7;
    background-color: #fff;
}
.btn-success
{
    color: #fff;
    border-color: #4cae4c;
    background-color: #5cb85c;
}
.btn-success:focus,
.btn-success.focus
{
    color: #fff;
    border-color: #255625;
    background-color: #449d44;
}
.btn-success:hover
{
    color: #fff;
    border-color: #398439;
    background-color: #449d44;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
    color: #fff;
    border-color: #398439;
    background-color: #449d44;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus
{
    color: #fff;
    border-color: #255625;
    background-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus
{
    border-color: #4cae4c;
    background-color: #5cb85c;
}
.btn-success .badge
{
    color: #5cb85c;
    background-color: #fff;
}
.btn-info
{
    color: #fff;
    border-color: #46b8da;
    background-color: #5bc0de;
}
.btn-info:focus,
.btn-info.focus
{
    color: #fff;
    border-color: #1b6d85;
    background-color: #31b0d5;
}
.btn-info:hover
{
    color: #fff;
    border-color: #269abc;
    background-color: #31b0d5;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
    color: #fff;
    border-color: #269abc;
    background-color: #31b0d5;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus
{
    color: #fff;
    border-color: #1b6d85;
    background-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
    background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus
{
    border-color: #46b8da;
    background-color: #5bc0de;
}
.btn-info .badge
{
    color: #5bc0de;
    background-color: #fff;
}
.btn-warning
{
    color: #fff;
    border-color: #eea236;
    background-color: #f0ad4e;
}
.btn-warning:focus,
.btn-warning.focus
{
    color: #fff;
    border-color: #985f0d;
    background-color: #ec971f;
}
.btn-warning:hover
{
    color: #fff;
    border-color: #d58512;
    background-color: #ec971f;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
    color: #fff;
    border-color: #d58512;
    background-color: #ec971f;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus
{
    color: #fff;
    border-color: #985f0d;
    background-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
    background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus
{
    border-color: #eea236;
    background-color: #f0ad4e;
}
.btn-warning .badge
{
    color: #f0ad4e;
    background-color: #fff;
}
.btn-danger
{
    color: #fff;
    border-color: #d43f3a;
    background-color: #d9534f;
}
.btn-danger:focus,
.btn-danger.focus
{
    color: #fff;
    border-color: #761c19;
    background-color: #c9302c;
}
.btn-danger:hover
{
    color: #fff;
    border-color: #ac2925;
    background-color: #c9302c;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
    color: #fff;
    border-color: #ac2925;
    background-color: #c9302c;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus
{
    color: #fff;
    border-color: #761c19;
    background-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
    background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus
{
    border-color: #d43f3a;
    background-color: #d9534f;
}
.btn-danger .badge
{
    color: #d9534f;
    background-color: #fff;
}
.btn-link
{
    font-weight: normal;

    color: #337ab7;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link
{
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active
{
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus
{
    text-decoration: underline;

    color: #23527c;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus
{
    text-decoration: none;

    color: #777;
}
.btn-lg
{
    font-size: 18px;
    line-height: 1.3333333;

    padding: 10px 16px;

    border-radius: 6px;
}
.btn-sm
{
    font-size: 12px;
    line-height: 1.5;

    padding: 5px 10px;

    border-radius: 3px;
}
.btn-xs
{
    font-size: 12px;
    line-height: 1.5;

    padding: 1px 5px;

    border-radius: 3px;
}
.btn-block
{
    display: block;

    width: 100%;
}
.btn-block + .btn-block
{
    margin-top: 5px;
}
input[type='submit'].btn-block,
input[type='reset'].btn-block,
input[type='button'].btn-block
{
    width: 100%;
}
.pagination
{
    display: inline-block;

    margin: 20px 0;
    padding-left: 0;

    border-radius: 4px;
}
.pagination > li
{
    display: inline;
}
.pagination > li > a,
.pagination > li > span
{
    line-height: 1.42857143;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: #337ab7;
    border: 1px solid #ddd;
    background-color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    z-index: 2;

    color: #23527c;
    border-color: #ddd;
    background-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    z-index: 3;

    cursor: default;

    color: #fff;
    border-color: #337ab7;
    background-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span
{
    font-size: 18px;
    line-height: 1.3333333;

    padding: 10px 16px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span
{
    font-size: 12px;
    line-height: 1.5;

    padding: 5px 10px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pager
{
    margin: 20px 0;
    padding-left: 0;

    list-style: none;

    text-align: center;
}
.pager li
{
    display: inline;
}
.pager li > a,
.pager li > span
{
    display: inline-block;

    padding: 5px 14px;

    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
}
.pager li > a:hover,
.pager li > a:focus
{
    text-decoration: none;

    background-color: #eee;
}
.pager .next > a,
.pager .next > span
{
    float: right;
}
.pager .previous > a,
.pager .previous > span
{
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span
{
    cursor: not-allowed;

    color: #777;
    background-color: #fff;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.pager:before,
.pager:after
{
    display: table;

    content: ' ';
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.pager:after
{
    clear: both;
}
.center-block
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
.pull-right
{
    float: right !important;
}
.pull-left
{
    float: left !important;
}
.hide
{
    display: none !important;
}
.show
{
    display: block !important;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}
.hidden
{
    display: none !important;
}
.affix
{
    position: fixed;
}
@-ms-viewport
{
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg
{
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block
{
    display: none !important;
}
@media (max-width: 767px)
{
    .visible-xs
    {
        display: block !important;
    }
    table.visible-xs
    {
        display: table !important;
    }
    tr.visible-xs
    {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs
    {
        display: table-cell !important;
    }
}
@media (max-width: 767px)
{
    .visible-xs-block
    {
        display: block !important;
    }
}
@media (max-width: 767px)
{
    .visible-xs-inline
    {
        display: inline !important;
    }
}
@media (max-width: 767px)
{
    .visible-xs-inline-block
    {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .visible-sm
    {
        display: block !important;
    }
    table.visible-sm
    {
        display: table !important;
    }
    tr.visible-sm
    {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm
    {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .visible-sm-block
    {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .visible-sm-inline
    {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .visible-sm-inline-block
    {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .visible-md
    {
        display: block !important;
    }
    table.visible-md
    {
        display: table !important;
    }
    tr.visible-md
    {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md
    {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .visible-md-block
    {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .visible-md-inline
    {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .visible-md-inline-block
    {
        display: inline-block !important;
    }
}
@media (min-width: 1200px)
{
    .visible-lg
    {
        display: block !important;
    }
    table.visible-lg
    {
        display: table !important;
    }
    tr.visible-lg
    {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg
    {
        display: table-cell !important;
    }
}
@media (min-width: 1200px)
{
    .visible-lg-block
    {
        display: block !important;
    }
}
@media (min-width: 1200px)
{
    .visible-lg-inline
    {
        display: inline !important;
    }
}
@media (min-width: 1200px)
{
    .visible-lg-inline-block
    {
        display: inline-block !important;
    }
}
@media (max-width: 767px)
{
    .hidden-xs
    {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-sm
    {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-md
    {
        display: none !important;
    }
}
@media (min-width: 1200px)
{
    .hidden-lg
    {
        display: none !important;
    }
}
.visible-print
{
    display: none !important;
}
@media print
{
    .visible-print
    {
        display: block !important;
    }
    table.visible-print
    {
        display: table !important;
    }
    tr.visible-print
    {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print
    {
        display: table-cell !important;
    }
}
.visible-print-block
{
    display: none !important;
}
@media print
{
    .visible-print-block
    {
        display: block !important;
    }
}
.visible-print-inline
{
    display: none !important;
}
@media print
{
    .visible-print-inline
    {
        display: inline !important;
    }
}
.visible-print-inline-block
{
    display: none !important;
}
@media print
{
    .visible-print-inline-block
    {
        display: inline-block !important;
    }
}
@media print
{
    .hidden-print
    {
        display: none !important;
    }
}
/*# sourceMappingURL=bootstrap.css.map */

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*

	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .pswp__button:focus,
  .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: 0.9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../images/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(../images/default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute; }

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px; }

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
          transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform; }
  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }
    .pswp__share-tooltip a:hover {
      text-decoration: none;
      color: #000; }
    .pswp__share-tooltip a:first-child {
      /* round corners on the first/last list item */
      border-radius: 2px 2px 0 0; }
    .pswp__share-tooltip a:last-child {
      border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }
  .pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF; }
  a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF; }

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D; }

a.pswp__share--download:hover {
  background: #DDD; }

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px; }

/*

	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #BBB; }

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
            animation: clockwise 500ms linear infinite; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
            animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
  /*
			The idea of animating inner circle is based on Polymer ("material") loading indicator
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

/*

	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }
