.article
{
    margin-bottom: 25px;

    .article__date
    {
        color: $color-gray;
        font-size: 13px;
    }
    .article__title
    {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .article__title--full
    {
        font-size: 30px;
        font-weight: bold;
    }
    .article__image
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .article__content
    {
        text-align: justify;
    }
}
.article--about
{
    padding: 60px 0;

    .article__content
    {
        margin-top: 100px;
    }
    .article__title
    {
        font-size: 16px;
        color: $color-red;
        text-transform: uppercase;
        font-weight: bold;
    }
}
