.breadcrumbs
{
    padding: 0;
    margin: 10px 0;

    li
    {
        list-style: none;
        display: inline-block;

        a
        {

        }
        &::after
        {
            content: "/";
            margin-left: 5px;
            margin-right: 0;
            color: $color-gray;
        }
        &:last-of-type
        {
            &::after
            {
                content: "";
            }
        }
    }
    .breadcrumbs__active
    {
        a
        {
            color: darken($color-gray, 15);
        }
    }
}
