.main-button
{
    color: #FFF;
    background-color: $color-red;
    display: inline-block;
    border-radius: 2px;
    border-bottom: 3px solid darken($color-red, 10);
    text-decoration: none;

    &:hover
    {
        text-decoration: none;
        color: #FFF;
        background-color: darken($color-red, 5);
        color: darken(#FFF, 5);

        img
        {
            opacity: 0.9;
        }
    }
    &:visited,
    &:focus
    {
        text-decoration: none;
        color: #FFF;
    }
}
.main-button--lg
{
    padding: 10px 30px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 120px;

    img
    {
        margin-right: 20px;
    }
}
.main-button--md
{
    padding: 12px 10px 8px 10px;
    text-transform: uppercase;
    font-weight: bold;

    img
    {
        width: 15px;
        margin-right: 10px;
        position: relative;
        top: -3px;
    }
}
.more-button
{
    color: $color-blue !important;
    background-color: #FFF;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 2px;

    &:hover
    {
        color: #FFF !important;
        text-decoration: none;
        background-color: $color-blue;
    }
    &:visited,
    &:focus
    {
        text-decoration: none;
        color: #FFF;
    }
}
