.countdown
{
    color: #FFF;
    padding-left: 60px;
    padding-top: 60px;

    .countdown__title
    {
        font-size: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(236, 236, 236, 0.35);
        padding-bottom: 10px;
        margin-bottom: 0;
        display: inline-block;
    }
    .countdown__date
    {
        font-size: 60px;
    }
    .countdown__date-title
    {
        font-size: 14px;
        text-transform: lowercase;
        font-weight: bold;
        position: relative;
        top: 15px;
    }
}
.countdown--side
{
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -130px;

    .countdown__title
    {
        font-size: 14px;
    }
    .countdown__date
    {
        font-size: 48px;
    }
    .countdown__date-title
    {
        font-size: 12px;
    }
}
