.entries
{
    margin-top: 100px;
    margin-bottom: 30px;
}
.entry
{
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.42);

    .entry__date
    {
        background-color: $color-green;
        color: #FFF;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 2px 2px 0 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .entry__date--relative
    {
        position: relative;
    }
    .entry__image
    {
        opacity: 0.9;
        position: relative;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &:hover
        {
            opacity: 1;
        }

        a
        {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .entry__content
    {
        background-color: #FFF;
        padding: 5px 15px;
        border-radius: 0 0 2px 2px;
        min-height: 180px;

        a
        {
            color: lighten($color-blue, 6);
        }

        .entry__content-title
        {
            font-size: 16px;
            font-weight: bold;
        }
        .entry__content-short
        {
            margin-bottom: 15px;
        }
    }
    .entry__content--long
    {
        min-height: 352px;
    }
}
.entry--special
{
    .entry__content
    {
        background-color: $color-green;
        color: #FFF;

        a
        {
            color: #FFF;
        }
        .entry__content-title
        {
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}
