.galleries
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.gallery
{
    margin-bottom: 35px;

    .gallery__image
    {
        opacity: 0.9;
        animation: opacity 0.9s forwards ease-out;
        -webkit-animation: opacity 0.9s forwards ease-out;
        -o-animation: opacity 0.9s forwards ease-out;
        -moz-animation: opacity 0.9s forwards ease-out;
        border-radius: 2px 2px 0 0;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &:hover
        {
            opacity: 1;
        }

    }
    .gallery__content
    {
        padding: 5px 15px;
        background-color: $color-green;
        color: #FFF;
        border-radius: 0 0 2px 2px;
    }
    .gallery__title
    {
        font-weight: bold;
        font-size: 16px;
    }
}
