.navigation
{
    padding: 0;
    margin: 0;
    position: relative;

    li
    {
        list-style: none;
        display: inline-block;
        position: relative;

        &:hover
        {
            .navigation__children
            {
                display: block;
            }
            .navigation__icon-arrow
            {
                opacity: 1;
                transform: rotate(-90deg);
            }
        }

        a
        {
            font-weight: bold;
            color: $color-gray;
            font-size: 16px;
            padding: 42px 15px 10px 15px;
            text-transform: uppercase;
            display: block;
            text-decoration: none;

            &:hover
            {
                color: $color-blue;
            }

            .navigation__icon-arrow
            {
                background-image: url("/assets/images/icon-arrow.png");
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                display: inline-block;
                opacity: 0.4;
                position: relative;
                top: 2px;

                transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                -webkit-transition: all 0.2s linear;
            }
        }
    }
    .navigation__active
    {
        a
        {
            color: $color-blue;

            &:hover
            {
                color: darken($color-blue, 10);
            }
        }
    }
    .navigation__children
    {
        display: none;
        position: absolute;
        padding: 5px 0;
        border-radius: 0 0 2px 2px;
        background-color: #FFF;
        z-index: 100;
        min-width: 200px;

        transition: display 1s ease-out;
        -moz-transition: display 1s ease-out;
        -o-transition: display 1s ease-out;
        -webkit-transition: display 1s ease-out;

        li
        {
            display: block;

            a
            {
                padding: 10px 15px;
                display: block;
                color: $color-gray;
                text-transform: none;

                &:hover
                {
                    color: $color-blue;
                }
            }
        }
    }
}
.second-navigation
{
    padding: 0;
    margin: 0;

    li
    {
        list-style: none;
        display: inline-block;
        margin-right: 15px;

        a
        {
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .second-navigation__active
    {
        a
        {
            text-decoration: underline;
        }
    }
}
