.pagination
{
    li
    {
        a
        {
            border-radius: 20px !important;
            margin-right: 5px;
            color: $color-green;
            border: 0;

            &:hover
            {
                border: 0;
                background-color: lighten($color-green, 15);
                color: #FFF;
            }
        }
    }
    .active
    {
        a
        {
            background-color: $color-green;
            color: #FFF;

            &:hover
            {
                background-color: $color-green;
            }
        }
    }
}
