.social-icons
{
    padding: 40px 0;
    margin: 0;

    li
    {
        list-style: none;
        display: inline-block;

        a
        {
            margin-right: 15px;

            img
            {
                animation: all 0.3s forwards ease-out;

                &:hover
                {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -o-transform: scale(1.2);
                }
            }
        }
    }
}
.social-icons--white
{
    padding: 0;
}
