{% extends "layouts/main" %}

{% set title = entry.title %}
{% set crumbs = [
    {
        title: title,
        url: entry.url
    }
] %}

{% block mainContent %}
    <div class="row article">
        <div class="col-xs-8">
            <div class="article__content">
                {% include '_includes/articleBody' %}
            </div>
        </div>
        <div class="col-xs-4">
            {% include "_includes/sidebar" %}
        </div>
    </div>
{% endblock %}
