<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU">
<head>
		{% block head %}
				<meta charset="utf-8" />
				<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
				<link rel="shortcut icon" href="{{ siteUrl }}assets/images/favicon.ico" type="image/x-icon" />
				<link rel="icon" href="{{ siteUrl }}assets/images/favicon.ico" type="image/x-icon">
				<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/libs.min.css">
				<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/app.min.css">
		{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="{{ siteUrl }}">
                        <img src="{{ siteUrl }}assets/images/logo.png">
                    </a>
                </div>
                <div class="col-xs-7">
										{% set navigationEntries = craft.entries.section('navigation').level('<= 2') %}
                    <nav>
                        <ul class="navigation">
														{% nav navigation in navigationEntries %}

		                            <li {% if craft.request.firstSegment == navigation.slug %}class="navigation__active"{% endif %}>

																		{% set link = navigation.slug %}

																		{% for entries in navigation.entry %}
																				{% if entries.url %}
																						{% set link = entries.url %}
																				{% endif %}
																		{% endfor %}

		                                <a href="{{ url(link) }}">
																				{{ navigation.title }}
																				{% if navigation.hasDescendants() %}
																						<i class="navigation__icon-arrow"></i>
																				{% endif %}
																		</a>
																		{% ifchildren %}
																				<ul class="navigation__children">
																							{% children %}
																				</ul>
																		{% endifchildren %}
		                            </li>
														{% endnav %}
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-2">
                    <ul class="social-icons text-right">
                        <li>
                            <a href="{{ socialVk.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-vk.png" title="Вконтакте">
														</a>
                        </li>
                        <li>
                            <a href="{{ socialTwitter.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-twitter.png" title="Twitter">
														</a>
                        </li>
                        <li>
                            <a href="{{ socialFacebook.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-facebook.png" title="Facebook">
														</a>
                        </li>
                        <li>
                            <a href="{{ socialInstagram.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-instagram.png" title="Instagram">
														</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
		{% block body %}{% endblock %}
		<div class="banners-bottom">
				<div class="container">
						<div class="row">
								<div class="col-xs-12">
										<div class="banners-bottom__title text-center">Спонсоры марафона</div>
								</div>
						</div>
						<div class="row">
								{% for sponsorsEntries in craft.entries.section('sponsors') %}
										<div class="col-xs-2">
												<a href="{{ url(sponsorsEntries.hyperlink) }}" title="{{ sponsorsEntries.title }}" target="_blank">
														<img src="{{ sponsorsEntries.image.first().getUrl() }}" class="banners-bottom__image">
												</a>
										</div>
								{% endfor %}
						</div>
				</div>
		</div>
		<footer class="footer">
				<div class="container">
						<div class="row">
								<div class="col-xs-6">
										<nav>
												<ul class="second-navigation">
														{% nav navigation in navigationEntries %}
																<li {% if craft.request.firstSegment == navigation.slug %}class="second-navigation__active"{% endif %}>
																		<a href="{{ url(navigation.slug) }}">
																				{{ navigation.title }}
																		</a>
																</li>
														{% endnav %}
												</ul>
										</nav>
								</div>
								<div class="col-xs-6">
										<ul class="social-icons social-icons--white text-right">
												<li>
														<a href="{{ socialVk.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-vk-white.png" title="Вконтакте">
														</a>
												</li>
												<li>
														<a href="{{ socialTwitter.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-twitter-white.png" title="Twitter">
														</a>
												</li>
												<li>
														<a href="{{ socialFacebook.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-facebook-white.png" title="Facebook">
														</a>
												</li>
												<li>
														<a href="{{ socialInstagram.hyperlink }}" target="_blank">
																<img src="{{ siteUrl }}assets/images/icon-instagram-white.png" title="Instagram">
														</a>
												</li>
										</ul>
								</div>
						</div>
						<div class="footer__divider"></div>
						<div class="row">
								<div class="col-xs-6">
										{{ siteName }} © 2016
								</div>
								<div class="col-xs-6 text-right">
										<div class="dev">
												<span class="dev__title">Разработка веб-студии </span>
												<a href="http://web.ykt.ru"><img src="{{ siteUrl }}assets/images/icon-dev.png"></a>
										</div>
								</div>
						</div>
				</div>
		</footer>

		{% include '_includes/photoView' %}

    <script type="text/javascript" src="{{ siteUrl }}assets/js/libs.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl }}assets/js/app.js"></script>

		{% set countdownDate = countdown.date %}
		<script type="text/javascript">
				if( document.getElementById('countdown') != null )
				{
						new Countdown({
								selector: '#countdown',
								dateEnd: new Date('{{ countdownDate|date("m") }}, {{ countdownDate|date("d") }}, {{ countdownDate|date("Y") }} {{ countdownDate|date("G") }}:{{ countdownDate|date("i") }}:{{ countdownDate|date("s") }}'),
								msgPattern : '{days} дней {hours}:{minutes}:{seconds}',
								msgAfter: 'Done!',
								daysClass: 'countdown__date-day',
								hoursClass: 'countdown__date-hours',
								minutesClass: 'countdown__date-minutes',
								secondsClass: 'countdown__date-seconds',
						});
				}
		</script>
</body>
</html>
