{% extends "layouts/base" %}
{% block body %}
		<div class="main">
				<div class="container">
						<div class="row">
								<div class="col-xs-8">
										<h1 class="main__title">{{ title }}</h1>
										<!-- Хлебные крошки -->
										{% if crumbs %}
												<nav>
														<ul class="breadcrumbs">
																<li><a href="{{ siteUrl }}">Главная</a></li>
																{% for key, crumb in crumbs %}
																		{% if crumbs|length != key + 1 %}
																				<li>
																						<a href="{{ crumb.url }}">{{ crumb.title }}</a>
																				</li>
																		{% else %}
																				<li class="breadcrumbs__active"><a href="{{ crumb.url }}">{{ crumb.title|trim|slice(0, 50) }}</a></li>
																		{% endif %}
																{% endfor %}
														</ul>
												</nav>
										{% endif %}
								</div>
								<div class="col-xs-4 text-right">
										<a href="{{ mainButton.hyperlink }}" class="main-button main-button--md" target="_blank">
												<img src="{{ siteUrl }}assets/images/icon-hand.png">
												{{ mainButton.nodeTitle }}
										</a>
								</div>
						</div>
						{% block main %}{% endblock %}
				</div>
		</div>
{% endblock %}
