{% extends 'layouts/main' %}

{% set title = entry.title %}
{% set crumbs = [
    {
        title: title,
        url: url(entry.url)
    }
] %}

{% block mainContent %}
    <article class="row article article--about">
        <div class="col-xs-6 text-center">
            <img src="{{ siteUrl }}assets/images/logo-gray.png">
        </div>
        <div class="col-xs-6">
            <div class="article__content">
                <h2 class="article__title">{{ entry.articleHeading }}</h2>
                {{ entry.body }}
            </div>
        </div>
    </article>
{% endblock %}
