{% extends "layouts/base" %}

{% block body %}
		<div class="homepage">
				<div class="container">
						<div class="row">
								<div class="col-xs-5">
										<div class="countdown" id="countdown">
												{% include '_includes/countdown' %}
										</div>
										<a href="{{ mainButton.hyperlink }}" class="main-button main-button--lg" target="_blank">
												<img src="{{ siteUrl }}assets/images/icon-hand.png">
												{{ mainButton.nodeTitle }}
										</a>
								</div>
						</div>
						<div class="row entries">
								{% for specialEntry in craft.entries.section('about').limit(1) %}
										<div class="col-xs-3">
												<div class="entry entry--special">
														<div class="entry__image" style="background-image: url({{ siteUrl }}assets/images/picture-1-small.png);">
																<a href="{{ specialEntry.url }}"></a>
														</div>
														<div class="entry__content">
																<a href="{{ specialEntry.url }}">
																		<h4 class="entry__content-title text-center">
																				{{ specialEntry.title|slice(0, 20) }}{% if specialEntry.title|length > 20 %}...{% endif %}
																		</h4>
																</a>
																<div class="entry__content-short">
																		{{ specialEntry.shortDescription|slice(0, 110)|striptags }}{% if specialEntry.shortDescription|length > 110 %}...{% endif %}
																</div>
																<p class="text-center"><a href="{{ specialEntry.url }}" class="more-button">Подробнее</a></p>
														</div>
												</div>
										</div>
								{% endfor %}
								{% for newsEntry in craft.entries.section('news').limit(3) %}
										<div class="col-xs-3">
												<div class="entry">
														{% set descriptionLimit = 150 %}

														{% if newsEntry.image.first() %}
																<div class="entry__image" style="background-image: url({{ newsEntry.image.first().getUrl('small') }});">
																		<div class="entry__date">
																				{{ newsEntry.postDate.date|date("d M Y") }}
																		</div>
																		<a href="{{ newsEntry.url }}"></a>
																</div>
																{% else %}
																		{% set descriptionLimit = 410 %}
																		<div class="entry__date entry__date--relative">
																				{{ newsEntry.postDate.date|date("d M Y") }}
																		</div>
														{% endif %}
														<div class="entry__content {% if newsEntry.image.first() == false %}entry__content--long{% endif %}">
																<h4 class="entry__content-title text-center">
																		<a href="{{ newsEntry.url }}">
																				{{ newsEntry.title|slice(0, 40) }}{% if newsEntry.title|length > 40 %}...{% endif %}
																		</a>
																</h4>
																<div class="entry__content-short">
																		{{ newsEntry.shortDescription|slice(0, descriptionLimit)|striptags }}...
																		<a href="{{ newsEntry.url }}">подробнее</a>
																</div>
														</div>
												</div>
										</div>
								{% endfor %}
						</div>
				</div>
		</div>
{% endblock %}
