<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/libs.min.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/app.min.css">
</head>
<body>
		<header class="header">
				<div class="container">
						<div class="row">
								<div class="col-xs-3">
										<a href="{{ siteUrl }}">
												<img src="{{ siteUrl }}assets/images/logo.png">
										</a>
								</div>
								<div class="col-xs-7">
										<nav>
												<ul class="navigation">
														<li class="navigation__active">
																<a href="#">О марафоне <i class="navigation__icon-arrow"></i></a>
																<ul class="navigation__children">
																		<li>
																				<a href="#">Заголовок №1</a>
																		</li>
																		<li>
																				<a href="#">Заголовок №2</a>
																		</li>
																</ul>
														</li>
														<li>
																<a href="#">Новости</a>
														</li>
														<li>
																<a href="#">Форум</a>
														</li>
														<li>
																<a href="#">Галерея</a>
														</li>
														<li>
																<a href="#">Контакты</a>
														</li>
												</ul>
										</nav>
								</div>
								<div class="col-xs-2">
										<ul class="social-icons text-right">
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-vk.png" title="Вконтакте"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-twitter.png" title="Twitter"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-facebook.png" title="Facebook"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-instagram.png" title="Instagram"></a>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</header>
		<div class="homepage">
				<div class="container">
						<div class="row">
								<div class="col-xs-5">
										<div class="countdown">
												<div class="countdown__title">До старта <b>северного марафона</b></div>
												<div class="row">
														<div class="col-xs-3">
																<div class="countdown__date-title">Дней</div>
																<div class="countdown__date">22</div>
														</div>
														<div class="col-xs-9">
																<div class="countdown__date-title">Часов</div>
																<div class="countdown__date">20:21:00</div>
														</div>
												</div>
										</div>
										<a href="#" class="main-button main-button--lg"><img src="{{ siteUrl }}assets/images/icon-hand.png">Стать участником</a>
								</div>
						</div>
						<div class="row entries">
								<div class="col-xs-3 entry entry--special">
										<div class="entry__image">
												<a href="#">
														<img src="{{ siteUrl }}assets/images/picture-1-small.png">
												</a>
										</div>
										<div class="entry__content">
												<a href="#">
														<h4 class="entry__content-title text-center">О марафоне</h4>
												</a>
												<div class="entry__content-short">Это текст для текста для текста на текст. Привет мир! </div>
												<p class="text-center"><a href="#" class="more-button">Подробнее</a></p>
										</div>
								</div>
								<div class="col-xs-3 entry">
										<div class="entry__image">
												<div class="entry__date">
														29 июнья 2016
												</div>
												<a href="#">
														<img src="{{ siteUrl }}assets/images/picture-2-small.png">
												</a>
										</div>
										<div class="entry__content">
												<a href="#">
														<h4 class="entry__content-title text-center">О марафоне это текст для текста</h4>
												</a>
												<div class="entry__content-short">Это текст для текста для текста на текст. Привет мир! <a href="#">Подробнее</a></div>
												<!-- <p class="text-center"><a href="#" class="more-button">Подробнее</a></p> -->
										</div>
								</div>
								<div class="col-xs-3 entry">
										<div class="entry__image">
												<div class="entry__date">
														29 июнья 2016
												</div>
												<a href="#">
														<img src="{{ siteUrl }}assets/images/picture-3-big.png">
												</a>
										</div>
										<div class="entry__content">
												<a href="#">
														<h4 class="entry__content-title text-center">О марафоне это текст для текста</h4>
												</a>
												<div class="entry__content-short">Это текст для текста для текста на текст. Привет мир! <a href="#">Подробнее</a></div>
												<!-- <p class="text-center"><a href="#" class="more-button">Подробнее</a></p> -->
										</div>
								</div>
								<div class="col-xs-3 entry">
										<div class="entry__image">
												<div class="entry__date">
														29 июнья 2016
												</div>
												<a href="#">
														<img src="{{ siteUrl }}assets/images/picture-2-small.png">
												</a>
										</div>
										<div class="entry__content">
												<a href="#">
														<h4 class="entry__content-title text-center">О марафоне это текст для текста</h4>
												</a>
												<div class="entry__content-short">Это текст для текста для текста на текст. Привет мир! <a href="#">Подробнее</a></div>
												<!-- <p class="text-center"><a href="#" class="more-button">Подробнее</a></p> -->
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="main">
				<div class="container">
						<div class="row">
								<div class="col-xs-6">
										<h1 class="main__title">Галерея</h1>
										<ul class="breadcrumbs">
												<li><a href="#">Главная</a></li>
												<li><a href="#">Раздел</a></li>
												<li class="breadcrumbs__active">Галерея</li>
										</ul>
								</div>
								<div class="col-xs-6 text-right">
										<a href="#" class="main-button main-button--md"><img src="{{ siteUrl }}assets/images/icon-hand.png">Стать участником</a>
								</div>
						</div>
						<div class="main__content">
								<div class="row article article--about">
										<div class="col-xs-6 text-center">
												<img src="{{ siteUrl }}assets/images/logo-gray.png">
										</div>
										<div class="col-xs-6">
												<div class="article__content">
														<h2 class="article__title">Станьте участниками марафона!</h2>
												</div>
										</div>
								</div>
								<div class="row">
										<div class="col-xs-8">
												<div class="row article">
														<div class="col-xs-4">
																<a href="#">
																		<img src="{{ siteUrl }}assets/images/picture-2-small.png">
																</a>
														</div>
														<div class="col-xs-8">
																<div class="article__date">14 августа 2016</div>
																<div class="article__short-content">
																		<h2 class="article__title"><a href="#">Заголовок №1</a></h2>
																		<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации...<a href="#">Подробнее</a></p>
																</div>
														</div>
												</div>
												<div class="row article">
														<div class="col-xs-4">
																<a href="#">
																		<img src="{{ siteUrl }}assets/images/picture-2-small.png">
																</a>
														</div>
														<div class="col-xs-8">
																<div class="article__date">14 августа 2016</div>
																<div class="article__short-content">
																		<h2 class="article__title"><a href="#">Заголовок №1</a></h2>
																		<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации...<a href="#">Подробнее</a></p>
																</div>
														</div>
												</div>
												<div class="row article">
														<div class="col-xs-12">
																<div class="article__date">14 августа 2016</div>
																<h2 class="article__title article__title--full">Заголовок №1</h2>
																<div class="article__content">
																	<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.</p>
																</div>
														</div>
												</div>
										</div>
										<div class="col-xs-4">
												<div class="sidebar-banner">
														<div class="countdown countdown--side">
																<div class="countdown__title">До старта <b>северного марафона</b></div>
																<div class="row">
																		<div class="col-xs-3">
																				<div class="countdown__date-title">Дней</div>
																				<div class="countdown__date">22</div>
																		</div>
																		<div class="col-xs-9">
																				<div class="countdown__date-title">Часов</div>
																				<div class="countdown__date">20:21:00</div>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
								<div class="row">
										<div class="col-xs-12 text-center">
												<ul class="pagination">
														<li class="active">
																<a href="#">1</a>
														</li>
														<li>
																<a href="#">2</a>
														</li>
												</ul>
										</div>
								</div>
						</div>

						<div class="row galleries">
								<div class="col-xs-3 gallery">
										<div class="gallery__image">
												<a href="#">
														<div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ siteUrl }}assets/images/picture-2-small.png);"></div>
												</a>
										</div>
										<div class="gallery__content">
												14 августа 2016
												<h4 class="gallery__title">Сборы на соревнования</h4>
										</div>
								</div>
								<div class="col-xs-3 gallery">
										<div class="gallery__image">
												<a href="#">
														<div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ siteUrl }}assets/images/picture-2-small.png);"></div>
												</a>
										</div>
										<div class="gallery__content">
												14 августа 2016
												<h4 class="gallery__title">Сборы на соревнования</h4>
										</div>
								</div>
								<div class="col-xs-3 gallery">
										<div class="gallery__image">
												<a href="#">
														<div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ siteUrl }}assets/images/picture-2-small.png);"></div>
												</a>
										</div>
										<div class="gallery__content">
												14 августа 2016
												<h4 class="gallery__title">Сборы на соревнования</h4>
										</div>
								</div>
								<div class="col-xs-3 gallery">
										<div class="gallery__image">
												<a href="#">
														<div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ siteUrl }}assets/images/picture-2-small.png);"></div>
												</a>
										</div>
										<div class="gallery__content">
												14 августа 2016
												<h4 class="gallery__title">Сборы на соревнования</h4>
										</div>
								</div>
								<div class="col-xs-3 gallery">
										<div class="gallery__image">
												<a href="#">
														<div class="gallery__image" itemprop="thumbnail" style="background-image: url({{ siteUrl }}assets/images/picture-2-small.png);"></div>
												</a>
										</div>
										<div class="gallery__content">
												14 августа 2016
												<h4 class="gallery__title">Сборы на соревнования</h4>
										</div>
								</div>
						</div>
						{% for gallery in craft.entries.section('gallery') %}
								<div class="row galleries" itemscope itemtype="http://schema.org/ImageGallery">
										{% for photos in gallery.photos %}
												<figure class="col-xs-3 gallery" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
														<a href="{{ photos.getUrl('full') }}" itemprop="contentUrl" data-size="{{ photos.width }}x{{ photos.height }}">
																<div src="{{ photos.getUrl('small') }}" class="gallery__image" itemprop="thumbnail" style="background-image: url({{ photos.getUrl('small') }});"></div>
														</a>
												</figure>
										{% endfor %}
								</div>
						{% endfor %}
						<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="pswp__bg"></div>
								<div class="pswp__scroll-wrap">
										<div class="pswp__container">
												<div class="pswp__item"></div>
												<div class="pswp__item"></div>
												<div class="pswp__item"></div>
										</div>
										<div class="pswp__ui pswp__ui--hidden">
												<div class="pswp__top-bar">
														<div class="pswp__counter"></div>
														<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
														<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
														<div class="pswp__preloader">
																<div class="pswp__preloader__icn">
																		<div class="pswp__preloader__cut">
																				<div class="pswp__preloader__donut"></div>
																		</div>
																</div>
														</div>
												</div>
												<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
														<div class="pswp__share-tooltip"></div>
												</div>
												<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
												<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
												<div class="pswp__caption">
														<div class="pswp__caption__center"></div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="banners-bottom">
				<div class="container">
						<div class="row">
								<div class="col-xs-12">
										<div class="banners-bottom__title text-center">Спонсоры марафона</div>
								</div>
						</div>
						<div class="row">
								<div class="col-xs-2">
										<a href="#">
												<img src="{{ siteUrl }}assets/images/banner.png" class="banners-bottom__image">
										</a>
								</div>
								<div class="col-xs-2">
										<img src="{{ siteUrl }}assets/images/banner.png" class="banners-bottom__image">
								</div>
								<div class="col-xs-2">
										<img src="{{ siteUrl }}assets/images/banner.png" class="banners-bottom__image">
								</div>
								<div class="col-xs-2">
										<img src="{{ siteUrl }}assets/images/banner.png" class="banners-bottom__image">
								</div>
								<div class="col-xs-2">
										<img src="{{ siteUrl }}assets/images/banner.png">
								</div>
								<div class="col-xs-2">
										<img src="{{ siteUrl }}assets/images/banner.png">
								</div>
						</div>
				</div>
		</div>
		<footer class="footer">
				<div class="container">
						<div class="row">
								<div class="col-xs-6">
										<nav>
												<ul class="second-navigation">
														<li class="second-navigation__active">
																<a href="#">О марафоне</a>
														</li>
														<li>
																<a href="#">Новости</a>
														</li>
														<li>
																<a href="#">Форум</a>
														</li>
														<li>
																<a href="#">Галерея</a>
														</li>
														<li>
																<a href="#">Контакты</a>
														</li>
												</ul>
										</nav>
								</div>
								<div class="col-xs-6">
										<ul class="social-icons social-icons--white text-right">
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-vk-white.png" title="Вконтакте"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-twitter-white.png" title="Twitter"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-facebook-white.png" title="Facebook"></a>
												</li>
												<li>
														<a href="#"><img src="{{ siteUrl }}assets/images/icon-instagram-white.png" title="Instagram"></a>
												</li>
										</ul>
								</div>
						</div>
						<div class="footer__divider"></div>
						<div class="row">
								<div class="col-xs-6">
										Северный марафон © 2016
								</div>
								<div class="col-xs-6 text-right">
										<div class="dev">
												<span class="dev__title">Разработка веб-студии </span>
												<a href="http://web.ykt.ru"><img src="{{ siteUrl }}assets/images/icon-dev.png"></a>
										</div>
								</div>
						</div>
				</div>
		</footer>
		<script type="text/javascript" src="{{ siteUrl }}assets/js/libs.min.js"></script>
		<script type="text/javascript" src="{{ siteUrl }}assets/js/app.js"></script>
</body>
</html>
