.footer
{
    background-color: $color-blue;
    color: #FFF;
    padding: 20px 0;

    .footer__divider
    {
        border-bottom: 2px solid rgba(236, 236, 236, 0.10);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dev
    {
        .dev__title
        {
            position:relative;
            font-size: 12px;
            top: 1px;
        }
    }
}
