.main
{
    background-color: #eaeeee;
    padding: 25px 0;

    .main__title
    {
        margin: 0;
        color: $color-green;
    }
    .main__content
    {
        background-color: #FFF;
        padding: 20px 15px;
        border-radius: 2px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
