.sidebar-banner
{
    background-image: url("../images/side-background.png");
    background-repeat: no-repeat;
    padding: 30px 30px;
    position: relative;
    height: 1087px;
    border-radius: 2px;
}
